@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
/* 전체영역 */
.wrap {
  width: 100%;
  /* height: 2000vh; */
  background-color: grey;
}
/* 상단 */
.header {
  position: relative;
  display: block;
  width: 100%;
  /* height: 130px; */
  /* background-color: orange; */
}

/* top */
.header-top {
  width: 100%;
  line-height: 50px;
  background-color: #000;
}
.header-top > p {
  color: #fff;
  font-size: 15px;
  text-align: center;
}
/* bt */
.header-bt {
  position: relative;
  width: 100%;
}
.header-bt-inner {
 max-width: 1750px;
  /* height: 80px; */
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 메뉴 */
.header-bt-inner > .menu {
  width: 120px;
  height: 100%;
  display: flex;
}
.header-bt-inner > .menu > li{
    width: 100%;
    height: 100%;
  }
  .header-bt-inner > .menu > li > a{
    width: 100%;
    height: 100%;
    text-align: center;
  }
/* 로고 */
.header-bt-inner > .logo {
position: relative;;
  width: 286px;
  height: 100%;
}
.header-bt-inner > .logo >a{
 
   
}
.header-bt-inner > .logo >a> img {

  width: 100%;
}
/* 로그인 */
.header-bt-inner > .login {
  width: 100px;
  /* height: 100%; */
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.header-bt-inner > .login > li{
    /* width: 40px;
    height: 100%; */
}
.header-bt-inner > .login > li > a > img{
    width:100%;
}
.header-bt-inner > .login > li > a > p{
    display: block;
    font: 20px;
    font-weight: 700;
    width: 50%;
    height: 100%;
    background-color: pink;
}
